@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Movie Application</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Movies" asp-action="Index">Movies</a>
                </li>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Customers" asp-action="Index">Customers</a>
                    </li>
                }
            </ul>
            <div class="d-flex align-content-center">
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="me-3 mt-2 text-dark">@User?.Identity?.Name</div>
                    <a class="btn me-3 bg-dark text-light" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                }
                else
                {
                    <a class="btn me-3 bg-dark text-light" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                    <a class="btn me-3 bg-dark text-light" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                }
            </div>
        </div>
    </div>
</nav>