@model List<Customer>
@{
    ViewData["Title"] = "Customers";
}
<h3>Customers</h3>
@if (Model.Count == 0)
{
    <p>No Customer has purchased this movie yet!</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Subscribed To Newsletter</th>
                <th>Membership Type</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.IsSubscribedToNewsletter</td>
                    <td>@item.MembershipType?.Name</td>
                </tr>

            }
        </tbody>
    </table>
    <div class="mt-3">
        <a asp-controller="Movies" asp-action="Index">Back to list</a>
    </div>
}