@model MovieApp.ViewModels.CustomerViewModel
@{
    ViewData["Title"] = "Customer Details";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-primary text-light">
                    <h3>Customer Details</h3>
                </div>
                <div class="card-body">
                    @await Html.PartialAsync("_CustomerReadOnly", Model)
                </div>
            </div>
            <div class="mt-3">
                <a asp-controller="Customers" asp-action="Index">Back to list</a>
            </div>
        </div>
    </div>
</div>